# Predicting Air Quality in Hetauda Using Machine Learning
This notebook covers the data collection, cleaning, and exploratory data analysis for the project.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/anmol/OneDrive/Documents/Hetauda_Air_Quality_Prediction/data/raw/hetauda-raw-weather-parameters.csv")

In [5]:
df.head()

,time,temperature_max,temperature_min,dew_point_2m_mean (°C),wind_speed_10m_mean (km/h),surface_pressure_mean (hPa),relative_humidity_2m_mean (%)
0,1/1/2022,19.4,9.0,9.3,3.9,965.7,76
1,1/2/2022,20.4,7.8,8.9,4.1,964.2,75
2,1/3/2022,20.4,9.0,8.3,4.5,962.5,71
3,1/4/2022,19.6,8.8,9.3,4.3,963.1,73
4,1/5/2022,20.3,9.3,9.5,4.3,962.9,73